In [1]:
import numpy as np
import pandas as pd

In [2]:
insta_data = pd.read_csv("INSTA.csv")
td = pd.read_csv("cov.csv" )

In [3]:
td = td.drop(td.columns[0], axis=1)

In [4]:
td.isnull().sum()

joined                  0
username                0
name                    4
category            17961
score                   2
tweets                  0
following               0
followers               0
likes                   0
user_id             11095
date_added          11095
status              11095
verified                0
geo_enabled             0
suspended               0
profile_location    24862
listed_count            0
Unnamed: 17         28982
dtype: int64

In [5]:
td.drop(td[td['score'] > 1].index, inplace = True)

In [6]:
td

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
0,2019-10-01 00:00:00,JoLynnBlake13,"The hammer of Truth, Justice & the American Way!",Trollbot,0.81,24113,7514,7334,10,NaN,NaN,NaN,False,False,True,NaN,0,NaN
1,2018-09-01 00:00:00,BreLa1212,Bre-la,Trollbot,0.80,7145,126,54,9749,NaN,NaN,NaN,False,False,False,"Hawaii, USA",5,NaN
2,2015-02-01 00:00:00,NotMattrellen,Probably Not Mattrellen,Trollbot,0.87,667,113,65,2214,NaN,NaN,NaN,False,False,False,NaN,0,NaN
3,2018-05-01 00:00:00,lizthemomager,Aiabeth,Trollbot,0.77,2657,739,448,743,NaN,NaN,NaN,False,False,True,NaN,0,NaN
4,2011-03-01 00:00:00,ipmedic,Jeff Long,Trollbot,0.80,2795,4734,3540,10111,NaN,NaN,NaN,False,True,False,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30970,2009-05-11 00:00:00,@DaniloJTR,Danilo Torrealba,NaN,0.23,3542,1562,498,19604,8.773052e+07,2020-09-11 00:00:00,Active,none,none,False,"{'id': '043383f8b2b79918', 'url': 'https://api...",0,NaN
30971,2019-03-11 00:00:00,@cxxks___,Cooks Stan Account ?,NaN,0.03,72501,1490,1817,68878,1.080727e+18,2020-09-11 00:00:00,Active,none,True,False,none,2,NaN
30972,11-29-2020,@karnjirwala,Karnjirwala,NaN,0.14,39,4,0,6,1.321931e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN
30973,2009-11-11 00:00:00,@Beyond_I_Do,Rev. Meghan Gurley - Creative Clergy,NaN,0.18,85513,889,2245,8712,3.047285e+07,2020-09-11 00:00:00,Active,none,none,False,none,66,NaN
30974,11-22-2020,@Nirvana09876,Nirvana,NaN,0.15,15113,539,610,35056,1.297171e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN

In [7]:
td.loc[td['category'] == "Normal"]

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
11096,2009-04-27 00:00:00,@milsad,MilsaD,Normal,0.17,904,73,22,418,3.578927e+07,07-14-2020,Active,False,True,False,NaN,1,NaN
11098,2017-07-05 00:00:00,@Kimmi11123,Kimmy Ann,Normal,0.51,1064,237,81,3755,8.826239e+17,07-14-2020,Active,False,False,False,NaN,5,NaN
11100,2009-06-23 00:00:00,@amyewalter,amy walter,Normal,0.01,15792,1688,166366,16300,5.007351e+07,07-14-2020,Active,True,False,False,NaN,3499,NaN
11102,2018-08-02 00:00:00,@FernandoBenev15,Fernando Benevides,Normal,0.68,25552,2604,1162,88726,1.025061e+18,07-14-2020,Active,False,False,False,"Belo Horizonte, Brazil",0,NaN
11104,2020-05-22 00:00:00,@Walmart3301,Walmart,Normal,0.23,19,33,7,46,1.263656e+18,07-14-2020,Active,False,False,False,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,2012-07-05 00:00:00,@AlexSnelleman,Alex,Normal,0.13,4099,127,65,380,7.384821e+08,07-27-2020,Active,False,True,False,NaN,1,NaN
16997,2012-07-19 00:00:00,@VirtanensStuff,hoot,Normal,0.17,11249,198,123,16377,8.904168e+08,07-27-2020,Active,False,True,False,NaN,4,NaN
16999,2009-07-23 00:00:00,@Joop_nl,Joop,Normal,0.22,60345,1176,25668,466,7.661908e+07,07-27-2020,Active,False,False,False,NaN,771,NaN
17001,2020-07-27 00:00:00,@Samanth52914076,Samantha Wang,Normal,0.00,4,7,0,3,1.287697e+18,07-27-2020,Active,False,False,False,NaN,0,NaN
17003,2016-07-25 00:00:00,@RSSlibrary,Starla Hazen,Normal,0.00,791,1266,533,2096,7.030046e+17,07-27-2020,Active,False,False,False,NaN,8,NaN

In [8]:
td.loc[td["score"] < 0.50, "category"] = "Normal"

In [9]:
td.dropna(subset = ['category'], inplace= True)

In [10]:
td.loc[td["category"] == "Trollbot", "category"] = 1
td.loc[td["category"] == "Normal", "category"] = 0
#td.loc[td["verified"] == "False", "verified"] = 0
#td.loc[td["verified"] == "True", "verified"] = 1
#td.loc[td["geo_enabled"] == "False", "geo_enabled"] = 0
#td.loc[td["geo_enabled"] == "True", "geo_enabled"] = 1
#td.loc[td["suspended"] == False, "suspended"] = 0
#td.loc[td["suspended"] == True, "suspended"] = 1

# Logistic Regression

In [11]:
X = td.drop(columns=["score","joined","username","name","category","user_id","date_added","status","profile_location","listed_count","suspended","geo_enabled","verified","Unnamed: 17"],axis=1)
y = td["category"]

In [12]:
y = y.astype('int') 
X.head()

   tweets  following  followers  likes
0   24113       7514       7334     10
1    7145        126         54   9749
2     667        113         65   2214
3    2657        739        448    743
4    2795       4734       3540  10111

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=4)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logmodel = LogisticRegression(random_state=4)

In [19]:
logmodel.fit(X_train, y_train)

LogisticRegression(random_state=4)

In [20]:
predictions = logmodel.predict(X_test)

In [21]:
from sklearn.metrics import classification_report

In [22]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.61      1.00      0.76      4726\n           1       0.70      0.01      0.01      3057\n\n    accuracy                           0.61      7783\n   macro avg       0.66      0.50      0.38      7783\nweighted avg       0.65      0.61      0.46      7783\n'

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_test,predictions)

array([[4718,    8],
       [3038,   19]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(y_test,predictions)

0.6086342027495825

In [27]:
logmodel.predict([[3,754,7334,10]])

array([0])

In [28]:
import joblib
joblib.dump(logmodel,"LogisticRegressionModel")

['LogisticRegressionModel']

# Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
randomforest=RandomForestClassifier(n_estimators=50)
randomforest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [30]:
randomforest.score(X_test,y_test)

0.6784016446100476

In [31]:
joblib.dump(randomforest,"RandomForest")

['RandomForest']

# Twitter API

In [32]:
consumer_key = "FcaKOYBDGUEEEqz7ufaWIy7mp"
consumer_secret = "mihhCCjFXv2OHzAKzCvqllYNwmWfPtiztGESyTyt25O5KQx0TP"
access_token = "900365880114204672-Fs61vYMorOBrJj5rgpCZskh6fKUUDbu"
access_token_secret = "MS1NT8CNlS8I6sw2URGmhFKBAKjnEeTtMxiEYIXTFMXoQ"

b_token = "AAAAAAAAAAAAAAAAAAAAAGHWbQEAAAAAsfoFlh%2BGoBLTM6ik6bzOZTIBLwA%3D7bx9qkU0oascnv0Lr77CretCKEk7qcZ6yIHusC52vlqXfRwg6q"

In [62]:

import tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

#cursor = tweepy.Cursor(api.user_timeline, id='realDonaldTrump',tweet_mode='extended').items(1)
client = tweepy.Client(bearer_token=b_token)

username = '_washermashen_'
res = client.get_users(usernames = username)
id = res[0][0].id

followers = client.get_users_followers(id=id, max_results = 1000)
count1 = 0
for follower in followers[0]:
    count1 = count1 +1
    
count1

following = client.get_users_following(id=id, max_results = 1000)
count2 = 0
for follow in following[0]:
    count2 = count2 + 1
    
count2

181

In [64]:
tweets = client.get_users_tweets(id=id, max_results = 100)
count3 = 0
for tweet in tweets[0]:
    count3 = count3 +1
count3

91

# Gradient Boosting Regressor

In [35]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.datasets import load_boston
from sklearn.metrics import mean_absolute_error

In [36]:
td = td.filter(['category', 'tweets', 'following', 'followers','likes'], axis = 1)
td

      category  tweets  following  followers  likes
0            1   24113       7514       7334     10
1            1    7145        126         54   9749
2            1     667        113         65   2214
3            1    2657        739        448    743
4            1    2795       4734       3540  10111
...        ...     ...        ...        ...    ...
30970        0    3542       1562        498  19604
30971        0   72501       1490       1817  68878
30972        0      39          4          0      6
30973        0   85513        889       2245   8712
30974        0   15113        539        610  35056

[25942 rows x 5 columns]

In [43]:
td.dropna(subset = ['category'], inplace = True)
X = td.drop(['category'], axis=1)
y = td["category"]
y = y.astype('int')
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=4)

In [44]:
regressor = GradientBoostingRegressor(
        max_depth = 2,
        n_estimators = 3,
        learning_rate = 1.0
)
regressor.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=1.0, max_depth=2, n_estimators=3)

In [45]:
errors = [mean_squared_error(y_test,y_pred) for y_pred in regressor.staged_predict(X_test)]
best_n_estimators = np.argmin(errors)

In [46]:
best_regressor = GradientBoostingRegressor(
        max_depth = 2,
        n_estimators = 3,
        learning_rate = 1.0
)
best_regressor.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=1.0, max_depth=2, n_estimators=3)

In [47]:
y_pred = best_regressor.predict(X_test)

mean_absolute_error(y_test,y_pred)

0.4254951776500659

In [48]:
corr_pred = 1-mean_absolute_error(y_test,y_pred)
corr_pred

0.574504822349934

In [ ]:
joblib.dump(best_regressor,"GradientTree")

# Decision Tree

In [49]:
td2 = td.filter(['category', 'tweets', 'following', 'followers', 'likes'], axis = 1)
y = td2['category']
x = td2.drop(['category'], axis=1)
y = y.astype('int')x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 101, stratify = y, test_size = 0.3)

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 101, stratify = y, test_size = 0.3)

In [51]:
y_train.value_counts(normalize = True)

0    0.612534
1    0.387466
Name: category, dtype: float64

In [52]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

In [53]:
dt_model = DecisionTreeClassifier(random_state = 10)
dt_model.fit(x_train, y_train)

DecisionTreeClassifier(random_state=10)

In [54]:
dt_model.score(x_test, y_test)

0.6201978671463446

In [55]:
train_acc = []
test_acc = []
# changing max depth 
for depth in range(1,10):
  dt_model = DecisionTreeClassifier(max_depth = depth, random_state = 10)
  dt_model.fit(x_train, y_train)
  train_acc.append(dt_model.score(x_train, y_train))
  test_acc.append(dt_model.score(x_test, y_test))

In [56]:
df = pd.DataFrame({'max_depth': range(1,10), 'train_acc': train_acc, 'test_acc': test_acc})
dt_model = DecisionTreeClassifier(max_depth = 15, max_leaf_nodes = 25, random_state = 4)
dt_model.fit(x_train, y_train)
dt_model.score(x_train, y_train)

0.6784514565780054

# GUI

In [65]:
from tkinter import *
root=Tk()
root.geometry('400x300')
root['bg'] = '#000000'
username=StringVar()
L=Label(root,text="Bot Slayers", height=3, background="#000000",foreground="white", font=(60))
L.place(relx=0.5,rely=0.05, anchor=CENTER)
L1=Label(root,text="Please enter username : ", height=2, width=30)
L1.place(relx=0.5,rely=0.2, anchor=CENTER)
e=Entry(textvariable=username)
e.insert(0, 'Username')
e.place(relx=0.5,rely=0.35, anchor=CENTER, height=20)
def click():
    print("Username : ",username.get())
    
    #Generating a random QR Code based on bill amount 
    root1=Tk()
    root1.geometry('400x300')
    root1['bg'] = '#000000'
    data1=StringVar()
    L11=Label(root1,text="Please enter username : ", height=2, width=30)
    L11.place(relx=0.5,rely=0.6,anchor=CENTER)
    

    
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token,access_token_secret)
    api = tweepy.API(auth)

    client = tweepy.Client(bearer_token=b_token)

    res = client.get_users(usernames = username.get())
    id = res[0][0].id

    followers = client.get_users_followers(id=id, max_results = 1000)
    count1 = 0
    for follower in followers[0]:
        count1 = count1 +1

    print("Followers : ",count1)

    following = client.get_users_following(id=id, max_results = 1000)
    count2 = 0
    for follow in following[0]:
        count2 = count2 + 1

    print("Following : ",count2)

    tweets = client.get_users_tweets(id=id, max_results = 100)
    count3 = 0
    for tweet in tweets[0]:
        count3 = count3 +1
    print("Tweets : ",count3)
    
    root1.mainloop()
            
e.bind("<Return>", click)
B1=Button(root,text="Enter",command=click,bg="black",fg="white", height=2, width=30, background="#000000",foreground="white")
B1.place(relx=0.5,rely=0.5, anchor=CENTER)
root.mainloop()

Username :  _washermashen_
Followers :  125
Following :  181
Tweets :  91

In [70]:
dt_model.predict([[count3,count2,count1,12500]])

array([0])