In [1]:
import numpy as np
import pandas as pd

In [2]:
insta_data = pd.read_csv("INSTA.csv")
td = pd.read_csv("cov.csv" )

In [3]:
td = td.drop(td.columns[0], axis=1)

In [4]:
td.isnull().sum()

joined                  0
username                0
name                    4
category            17961
score                   2
tweets                  0
following               0
followers               0
likes                   0
user_id             11095
date_added          11095
status              11095
verified                0
geo_enabled             0
suspended               0
profile_location    24862
listed_count            0
Unnamed: 17         28982
dtype: int64

In [5]:
td.drop(td[td['score'] > 1].index, inplace = True)

In [6]:
td

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
0,2019-10-01 00:00:00,JoLynnBlake13,"The hammer of Truth, Justice & the American Way!",Trollbot,0.81,24113,7514,7334,10,NaN,NaN,NaN,False,False,True,NaN,0,NaN
1,2018-09-01 00:00:00,BreLa1212,Bre-la,Trollbot,0.80,7145,126,54,9749,NaN,NaN,NaN,False,False,False,"Hawaii, USA",5,NaN
2,2015-02-01 00:00:00,NotMattrellen,Probably Not Mattrellen,Trollbot,0.87,667,113,65,2214,NaN,NaN,NaN,False,False,False,NaN,0,NaN
3,2018-05-01 00:00:00,lizthemomager,Aiabeth,Trollbot,0.77,2657,739,448,743,NaN,NaN,NaN,False,False,True,NaN,0,NaN
4,2011-03-01 00:00:00,ipmedic,Jeff Long,Trollbot,0.80,2795,4734,3540,10111,NaN,NaN,NaN,False,True,False,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30970,2009-05-11 00:00:00,@DaniloJTR,Danilo Torrealba,NaN,0.23,3542,1562,498,19604,8.773052e+07,2020-09-11 00:00:00,Active,none,none,False,"{'id': '043383f8b2b79918', 'url': 'https://api...",0,NaN
30971,2019-03-11 00:00:00,@cxxks___,Cooks Stan Account ?,NaN,0.03,72501,1490,1817,68878,1.080727e+18,2020-09-11 00:00:00,Active,none,True,False,none,2,NaN
30972,11-29-2020,@karnjirwala,Karnjirwala,NaN,0.14,39,4,0,6,1.321931e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN
30973,2009-11-11 00:00:00,@Beyond_I_Do,Rev. Meghan Gurley - Creative Clergy,NaN,0.18,85513,889,2245,8712,3.047285e+07,2020-09-11 00:00:00,Active,none,none,False,none,66,NaN
30974,11-22-2020,@Nirvana09876,Nirvana,NaN,0.15,15113,539,610,35056,1.297171e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN

In [7]:
td.loc[td['category'] == "Normal"]

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
11096,2009-04-27 00:00:00,@milsad,MilsaD,Normal,0.17,904,73,22,418,3.578927e+07,07-14-2020,Active,False,True,False,NaN,1,NaN
11098,2017-07-05 00:00:00,@Kimmi11123,Kimmy Ann,Normal,0.51,1064,237,81,3755,8.826239e+17,07-14-2020,Active,False,False,False,NaN,5,NaN
11100,2009-06-23 00:00:00,@amyewalter,amy walter,Normal,0.01,15792,1688,166366,16300,5.007351e+07,07-14-2020,Active,True,False,False,NaN,3499,NaN
11102,2018-08-02 00:00:00,@FernandoBenev15,Fernando Benevides,Normal,0.68,25552,2604,1162,88726,1.025061e+18,07-14-2020,Active,False,False,False,"Belo Horizonte, Brazil",0,NaN
11104,2020-05-22 00:00:00,@Walmart3301,Walmart,Normal,0.23,19,33,7,46,1.263656e+18,07-14-2020,Active,False,False,False,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,2012-07-05 00:00:00,@AlexSnelleman,Alex,Normal,0.13,4099,127,65,380,7.384821e+08,07-27-2020,Active,False,True,False,NaN,1,NaN
16997,2012-07-19 00:00:00,@VirtanensStuff,hoot,Normal,0.17,11249,198,123,16377,8.904168e+08,07-27-2020,Active,False,True,False,NaN,4,NaN
16999,2009-07-23 00:00:00,@Joop_nl,Joop,Normal,0.22,60345,1176,25668,466,7.661908e+07,07-27-2020,Active,False,False,False,NaN,771,NaN
17001,2020-07-27 00:00:00,@Samanth52914076,Samantha Wang,Normal,0.00,4,7,0,3,1.287697e+18,07-27-2020,Active,False,False,False,NaN,0,NaN
17003,2016-07-25 00:00:00,@RSSlibrary,Starla Hazen,Normal,0.00,791,1266,533,2096,7.030046e+17,07-27-2020,Active,False,False,False,NaN,8,NaN

In [8]:
td.loc[td["score"] < 0.50, "category"] = "Normal"

In [9]:
td.dropna(subset = ['category'], inplace= True)

In [10]:
td.loc[td["category"] == "Trollbot", "category"] = 1
td.loc[td["category"] == "Normal", "category"] = 0
#td.loc[td["verified"] == "False", "verified"] = 0
#td.loc[td["verified"] == "True", "verified"] = 1
#td.loc[td["geo_enabled"] == "False", "geo_enabled"] = 0
#td.loc[td["geo_enabled"] == "True", "geo_enabled"] = 1
#td.loc[td["suspended"] == False, "suspended"] = 0
#td.loc[td["suspended"] == True, "suspended"] = 1

# Logistic Regression

In [11]:
X = td.drop(columns=["score","joined","username","name","category","user_id","date_added","status","profile_location","listed_count","suspended","geo_enabled","verified","Unnamed: 17"],axis=1)
y = td["category"]

In [12]:
y = y.astype('int') 
X.head()

   tweets  following  followers  likes
0   24113       7514       7334     10
1    7145        126         54   9749
2     667        113         65   2214
3    2657        739        448    743
4    2795       4734       3540  10111

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=4)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logmodel = LogisticRegression(random_state=4)

In [19]:
logmodel.fit(X_train, y_train)

LogisticRegression(random_state=4)

In [20]:
predictions = logmodel.predict(X_test)

In [21]:
from sklearn.metrics import classification_report

In [22]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.61      1.00      0.76      4726\n           1       0.70      0.01      0.01      3057\n\n    accuracy                           0.61      7783\n   macro avg       0.66      0.50      0.38      7783\nweighted avg       0.65      0.61      0.46      7783\n'

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_test,predictions)

array([[4718,    8],
       [3038,   19]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(y_test,predictions)

0.6086342027495825

In [27]:
logmodel.predict([[3,754,7334,10]])

array([0])

In [28]:
import joblib
joblib.dump(logmodel,"LogisticRegressionModel")

['LogisticRegressionModel']

# Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
randomforest=RandomForestClassifier(n_estimators=50)
randomforest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [30]:
randomforest.score(X_test,y_test)

0.6763458820506232

In [31]:
joblib.dump(randomforest,"RandomForest")

['RandomForest']

# Twitter API

In [32]:
consumer_key = "FcaKOYBDGUEEEqz7ufaWIy7mp"
consumer_secret = "mihhCCjFXv2OHzAKzCvqllYNwmWfPtiztGESyTyt25O5KQx0TP"
access_token = "900365880114204672-Fs61vYMorOBrJj5rgpCZskh6fKUUDbu"
access_token_secret = "MS1NT8CNlS8I6sw2URGmhFKBAKjnEeTtMxiEYIXTFMXoQ"

b_token = "AAAAAAAAAAAAAAAAAAAAAGHWbQEAAAAAsfoFlh%2BGoBLTM6ik6bzOZTIBLwA%3D7bx9qkU0oascnv0Lr77CretCKEk7qcZ6yIHusC52vlqXfRwg6q"

In [37]:

import tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

#cursor = tweepy.Cursor(api.user_timeline, id='realDonaldTrump',tweet_mode='extended').items(1)
client = tweepy.Client(bearer_token=b_token)

username = '_washermashen_'
res = client.get_users(usernames = username)
id = res[0][0].id

followers = client.get_users_followers(id=id, max_results = 1000)
count1 = 0
for follower in followers[0]:
    count1 = count1 +1
    
count1

following = client.get_users_following(id=id, max_results = 1000)
count2 = 0
for follow in following[0]:
    count2 = count2 + 1
    
count2

AttributeError: 'Client' object has no attribute 'get_users_likes'

In [ ]:
tweets = client.get_users_tweets(id=id, max_results = 100)
count3 = 0
for tweet in tweets[0]:
    count3 = count3 +1
count3

In [40]:
likes = client.get_liked_tweets(id=id, max_)

for

[<Tweet id=1514352281407348741 text='Pep Guardiola has reached the Champions League semis for the ninth time, more than any manager in history. \n\nLevels ðŸ“ˆ https://t.co/dqdLs7maeb'>,
 <Tweet id=1514309930404175880 text='#ManCity will be in their third kit tonight vs Atletico Madrid. https://t.co/GTOuWmwUcE'>,
 <Tweet id=1513990959629012995 text='@VillarrealCF Damnnnn! Villareal had just one shot on target and it was on the 88th minute!ðŸ˜‚'>,
 <Tweet id=1513989216484704256 text='Welcome to ð—¨ð—˜ð—™ð—” ð—™ð—”ð—¥ð— ð—˜ð—¥ð—¦ ð—Ÿð—˜ð—”ð—šð—¨ð—˜ ðŸ†.\n\n#UCL https://t.co/vgfymTlzn8'>,
 <Tweet id=1513894962139746305 text='@DrDisrespect Incredible gameplay'>,
 <Tweet id=1513884016235188234 text='13G/A and MOTM 8 times in 14 games since the start of the year is crazy. Iâ€™m pushing KDB for this Ballon Dâ€™or like a mad man if he wins the treble.'>,
 <Tweet id=1513530980744716290 text='just got killed by this kid on steam mw2 with twitch in his name and this is what i see https://t.co/yjYYOkj0Hy'>,
 <Tweet id=1513795201843798016 text='Kevin De Bruyne is in incredible form ðŸ¤©\n \nCan he lead Man City to Champions League success? ðŸ‘€\n\nâœï¸ @jonnysmiffy'>,
 <Tweet id=1513806054374707208 text='@PauRivera33 @GoalNews @jonnysmiffy "Never ever".. why do people make such stupid predictions?'>,
 <Tweet id=1513717658788716544 text='@ar_burner @KSI It ainâ€™t about if the shoe  looks good itâ€™s about supporting another YouTuber that got his own shoe ðŸ’¯'>,
 <Tweet id=1513918626268647428 text='@Vikkstar123 all my homies love vikstar'>,
 <Tweet id=1513916772218556420 text='Good weather, good vibes â˜€ï¸ https://t.co/JFgfyM8Qx1'>,
 <Tweet id=1513993719690706945 text='https://t.co/ASfUtYE2G4'>,
 <Tweet id=1513989312492326915 text='ð—¦ð—ºð—®ð—¹ð—¹ ð—°ð—¹ð˜‚ð—¯.\n\n#UCL https://t.co/YZMNjCnr2Z'>,
 <Tweet id=1513915923916369925 text='I think we can all agree that this was the worst performance of a defender in a CL knockout game https://t.co/iWIjYODunB'>,
 <Tweet id=1513983293036843017 text='Another mickey mouse path to the final for Liverpool. Pain'>,
 <Tweet id=1513985342046720009 text='Villarreal are 7th place in La Liga and theyâ€™ve knocked out Bayern whoâ€™ve won Bundesliga 9 times in a row. Itâ€™s time for a conversation'>,
 <Tweet id=1513876814652968973 text='@mcfcyede Pogba https://t.co/J18CcS9iQQ'>,
 <Tweet id=1513551276054880260 text='Casemiro wants Real Madrid fans to treat Gareth Bale with more respect ðŸ˜  https://t.co/smWvf6tC9z'>,
 <Tweet id=1513869334619340800 text='And then there was 1ðŸ¤ https://t.co/S10RcPo0cY'>,
 <Tweet id=1513903625655013376 text='@skillsking10 Baller âœ¨ https://t.co/82x5tMtm3G'>,
 <Tweet id=1513906347808628751 text='@premierleague https://t.co/jhXXQMHDoF'>,
 <Tweet id=1513872904991219729 text='@Prerkey @fernandinho When u get a job'>,
 <Tweet id=1513871919812120577 text='My focus is 100% on winning all the titles we are playing for and I will only talk about my future at the end of the season. Letâ€™s keep pushing! ðŸ’ªðŸ¾ https://t.co/MGVcf6VVz0'>,
 <Tweet id=1513873889239126030 text='@fernandinho @KawaiKayky 9 years and payed some of your own transfer fee to sign for us. Weâ€™re so grateful ðŸ’™'>,
 <Tweet id=1513871909414391813 text="I was 100% honest and spontaneous in answering that question at today's press conference. But anyone who knows me also knows that my greatest honesty is with Man City and my duties as team captain.">,
 <Tweet id=1513852299285864449 text="ðŸš¨ Fernandinho announces he will leave Manchester City at the end of the season.\n\nHeâ€™s not gonna sign a new contract: â€œI want to play. I will go back to Brazil, for sure. I've decided with my family, it's the most important for meâ€, Fernandinho said. ðŸ”µðŸ‡§ðŸ‡· #MCFC https://t.co/UbQK0erSQ3">,
 <Tweet id=1513517239164678155 text="Nemanja Vidic believes Ralf Rangnick should consider leaving Harry Maguire out for 'harder' matches ðŸ¤” https://t.co/sI7gs619MW">,
 <Tweet id=1513599855557492748 text='@Pogdiculous @goal @DeBruyneKev .'>,
 <Tweet id=1513599842207031298 text='@amitttrmfc @goal @DeBruyneKev -reps mid'>,
 <Tweet id=1513465323634233346 text="@DebatableFO De Ligt definitely isn't in that top tier anymore. Foden one higher">,
 <Tweet id=1513587459254333448 text='ðŸ˜‚ðŸ”µ @OfficialAitch keeping it real. https://t.co/cNdj4C1koi'>,
 <Tweet id=1513082908260503557 text='@fedegoatverde https://t.co/qkYukAUw99'>,
 <Tweet id=1513567866251055105 text='@FootyAccums Here for the â€œCity ruining footballâ€ comments https://t.co/dhH3WURtoC'>,
 <Tweet id=1513582833490661376 text='Chelsea been sold. PSG being sold. Manchester City really won the oil club debate'>,
 <Tweet id=1513471931097530377 text='Aubameyang has almost scored as many goals as Arsenal since leaving the club ðŸ˜¯ https://t.co/6eq6PsOg99'>,
 <Tweet id=1513444622269304833 text='Here the replay of the â€œfoulâ€ on mane before Phil scored. This is why sky didnâ€™t show it, cos it wasnâ€™t a foul ðŸ™„ https://t.co/eh3vQpRrXo'>,
 <Tweet id=1513458878633103370 text='mate https://t.co/EZGoR0xDSM'>,
 <Tweet id=1513409984859672578 text="Was Liverpool vs. Man City the highest level of Premier League football we've ever witnessed? ðŸ¤” https://t.co/iyeeMEmAGd">,
 <Tweet id=1513450754165678082 text='Good morning to Wolfsburg and Wolfsburg only for giving us the â€œ60m rejectâ€ Kevin De Bruyne. Forever grateful'>,
 <Tweet id=1513396433117872129 text='Good morning, Blues! ðŸ”ðŸ’™\n\nhttps://t.co/G4xIbtwt32'>,
 <Tweet id=1513208938795253763 text='thought pep was gonna go will smith mode for a quick second https://t.co/eMSnDgXQ52'>,
 <Tweet id=1513216296418103297 text='KDB vs Liverpools midfield today https://t.co/NTlkj2sFmU'>,
 <Tweet id=1513278445622640641 text='Ederson on Instagram. This man is not real, heâ€™s a cyborg. https://t.co/YDnVherkmu'>,
 <Tweet id=1513185685569691648 text='Trent stripping ðŸ˜­ðŸ˜­https://t.co/e0UUUZ1vZO'>,
 <Tweet id=1513230217850114048 text='@goal @ManCity @LFC @premierleague Anfield - Liverpool ahead twice, City came back twice. \nEtihad - Man City went ahead twice, Liverpool came back twice. \n\nWhat a rivalry. The world is jealous.'>,
 <Tweet id=1513228984410152968 text='Football is very lucky to have these two ðŸ§  https://t.co/BhEikzvjeA'>,
 <Tweet id=1513214613940228104 text='Cheat to keep up with City FC https://t.co/wDX4Lm9MvO'>,
 <Tweet id=1513207287816589322 text='De Bruyne with an unbelievable performance. Such a shame that our attackers were so bad today'>,
 <Tweet id=1513206754296877058 text='.@DeBruyneKev is undoubtedly still the best midfielder in the world.'>,
 <Tweet id=1513193898981695491 text='City Vs Liverpool is the best in football, none of this El Clasico shit'>,
 <Tweet id=1513209450571923456 text='Another one ðŸŒŸ\n\n#ManCity | @EASPORTSFIFA https://t.co/kWOlHbukTk'>,
 <Tweet id=1513210212098129920 text='"Remember when United fans compared you with Wan Bissaka." https://t.co/17HhEUTkBu'>,
 <Tweet id=1513242690384797699 text='"Kevin de Bruyne only has 3 assists this season!!!" https://t.co/o878msVLS0'>,
 <Tweet id=1513209027366432775 text='criminal \n\n https://t.co/BKygEytdwj'>,
 <Tweet id=1513204530749583365 text='Toni Kroos gives his take on Messi v Ronaldo. https://t.co/AXLqtX57ER'>,
 <Tweet id=1513203022218039297 text='"Did you watch the Man Utd game yesterday?" https://t.co/D6F1m4QTRe'>,
 <Tweet id=1513206945372585989 text='What a fantastic match. Thanks to these two incredible teams. â­ï¸ #MCFC #LFC https://t.co/AChjDjX47L'>,
 <Tweet id=1513205948596301832 text='Considering all our missed chances, this feels like a loss'>,
 <Tweet id=1513156966021058561 text='Man City fans greet the team bus #MCILIV https://t.co/kn8zDux3A9'>,
 <Tweet id=1513187416886190089 text='@JoeTaylor67 @Total_John_ @TheEuropeanLad Yes'>,
 <Tweet id=1513187163860615171 text='JoÃ£o Cancelo is an absolute nightmare for Liverpool.'>,
 <Tweet id=1513186906011541510 text='Cancelo schooled Trent there'>,
 <Tweet id=1513190133826265089 text='PFA POTY 3peat locked and loading. Cry about it https://t.co/tSKy8AT0dW'>,
 <Tweet id=1513189811191959565 text='Our fans wanted Gabriel Jesus sold you know. This guy shows up in nearly every big game possible, we donâ€™t deserve him.'>,
 <Tweet id=1513187077168545792 text='Anyone still doubting the decision to start @gabrieljesus9? ðŸ¤™ðŸ‡§ðŸ‡·'>,
 <Tweet id=1513179233505452044 text='KEVIN DE BRUYNE GIVES CITY THE EARLY LEAD AGAINST LIVERPOOL ðŸŒ™ https://t.co/h8rqoP3VXu'>,
 <Tweet id=1513181222742151169 text='If weâ€™re being real Liverpool vs Man City is the most entertaining game in the world now'>,
 <Tweet id=1513179019390377988 text='KEVIN DE BRUYNE IS THE MOST CLUTCH FOOTBALL PLAYER ON THE PLANET'>,
 <Tweet id=1513191411709009923 text='Ederson is insane. How can you show no emotion in this moment https://t.co/GaC95vcvm6'>,
 <Tweet id=1513189563354820616 text='This tackle by Laporte ðŸ‘ https://t.co/ZoOJcRJ9lv'>,
 <Tweet id=1513186728852561923 text='GABBBYYYYYYYY!!!! ðŸ‡§ðŸ‡·ðŸ¤™\n\nðŸ”µ 2-1 ðŸ”´ #ManCity https://t.co/xOmPu6B0A1'>,
 <Tweet id=1513188977880498179 text='The way Aymeric Laporte has silenced absolutely everyone is beautiful. Always knew he would'>,
 <Tweet id=1513183894903918599 text='EDERSON. Chill. Please.'>,
 <Tweet id=1513179070137262087 text='@UTDTrey Today I was at the Apple Store when I saw that a lot of phones were broken. When I looked around I saw none other than Pristiano Penaldo smashing all the phones. He said he was mad because he ghosted vs a relegation team. Shame on you Penaldo!'>,
 <Tweet id=1513178947177041926 text='KEVIN DE BRUYNE BEST MIDFIELDER IN THE WORLD'>,
 <Tweet id=1513188540531806208 text='AYMERIC LAPORTE. WHAT A TACKLE.'>,
 <Tweet id=1513181205189038092 text='Que partido estamos viendo  ! @ManCity 1 - 1 @LFC'>,
 <Tweet id=1513161420913152001 text='James McAtee and Romeo Lavia are both with the #ManCity squad vs Liverpool today. [via @_joebray]'>,
 <Tweet id=1513162482923315204 text='@ManCity @HaysTechnology JESUS AND FODEN START  https://t.co/wcli0mRsJq'>,
 <Tweet id=1513117065615638530 text='Me, Myself &amp; I https://t.co/9FSQAvPTJ5'>,
 <Tweet id=1513163042695094274 text='Jesus starts. Jesus scores. https://t.co/RknwWlzFTl'>,
 <Tweet id=1512891815430602753 text='somewhere on earth thereâ€™s still a mf with an iPhone 6'>,
 <Tweet id=1513155658576801797 text='Young Mario Balotelli was fearless ðŸ˜¤ https://t.co/YmQwK7qhaZ'>,
 <Tweet id=1513122267898814464 text='All these trailers being made and all this hype for this possible all timer City vs Liverpool game for it to end 0-0 would be too funny ðŸ˜­'>,
 <Tweet id=1513042378034135040 text='CHARLES LECLERC WINS THE AUSTRALIAN GRAND PRIX! ðŸ†\n\nHe takes home his first-ever Grand Slam victory - pole, win and fastest lap!!! ðŸ¤©\n\n#AusGP #F1 @Charles_Leclerc https://t.co/3uSxV281VL'>,
 <Tweet id=1512892107689713673 text='Imagine going home and telling your parents Ronaldo smashed your phoneðŸ˜­ðŸ˜­'>,
 <Tweet id=1512890759112011778 text='Bloody hell \nhttps://t.co/H2Mvtgu6pC'>,
 <Tweet id=1512967668562751489 text='@elonmusk one of the most ahead of its time dystopian movies ever made https://t.co/kv93s5D9nw'>,
 <Tweet id=1512944276983975936 text='Weather is fake. I seen Truman Show!'>,
 <Tweet id=1513049145266814977 text='Nothing but: ð—¡ð—¢ð—œð—¦ð—˜. ðŸ’¥ðŸ¤¤ @aguerosergiokun \n\nhttps://t.co/UIx1tcOPoM'>,
 <Tweet id=1512729060580884483 text='@goal https://t.co/pRysgZgLi2'>,
 <Tweet id=1512728741373521920 text='Alphonso Davies on Harry Maguire ðŸ˜¶ https://t.co/FBaQPcVhOb'>,
 <Tweet id=1513034290245750789 text="10 years since *that* Aguero goal and Cityâ€™s dramatic title win... \n\n'Drink It In: The Rise of Manchester City' follows the clubâ€™s roller-coaster journey, with exclusive interviews with Noel Gallagher, Roberto Mancini and more! ðŸ†\n\nWatch the full programme at 7.30pm tonight! ðŸ¿ https://t.co/WYgzfHjvDB">,
 <Tweet id=1513010155285188609 text="@leah_rm13 You're not even Madrid fan.">,
 <Tweet id=1512851499499470849 text='Two jealous ðŸ‘€ @Cristiano https://t.co/gmoJvquLsE'>,
 <Tweet id=1512907387052728325 text='Phil Foden: "Being a #ManCity fan definitely helps. You know what the supporters want. Hopefully I can make them proud on Sunday. All they keep saying is â€˜you better win, you better win!â€™. Hopefully we can get the job done..."'>,
 <Tweet id=1513045109201276933 text='@David_Gill78 @premierleague @ManCity but the match is at etihad'>,
 <Tweet id=1512861492294692871 text='https://t.co/5H8ttBjwQP'>,
 <Tweet id=1513024046627430407 text="Mind rn -&gt;\n\nISA -&gt; Computer networks -&gt; Open textbook -&gt; [1 sec later] ooo Cloud seems interesting -&gt; Remember seeing O'Reilly's Cloud Native with Go -&gt; ooooooo IDK GO but lets check it out -&gt; oooooo DAMN LESGOOO GO IS COOOLLLLL LETS PLAY AROUND -&gt; oh shit ISA [go back to start]">]

# Gradient Boosting Regressor

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.datasets import load_boston
from sklearn.metrics import mean_absolute_error

In [ ]:
td = td.filter(['category', 'tweets', 'following', 'followers','likes'], axis = 1)
td

In [ ]:
td.dropna(subset = ['category'], inplace = True)
X = td.drop(['category'], axis=1)
y = td["category"]
y = y.astype('int')
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=4)

In [ ]:
regressor = GradientBoostingRegressor(
        max_depth = 2,
        n_estimators = 3,
        learning_rate = 1.0
)
regressor.fit(X_train, y_train)

In [ ]:
errors = [mean_squared_error(y_test,y_pred) for y_pred in regressor.staged_predict(X_test)]
best_n_estimators = np.argmin(errors)

In [ ]:
best_regressor = GradientBoostingRegressor(
        max_depth = 2,
        n_estimators = 3,
        learning_rate = 1.0
)
best_regressor.fit(X_train, y_train)

In [ ]:
y_pred = best_regressor.predict(X_test)

mean_absolute_error(y_test,y_pred)

In [ ]:
corr_pred = 1-mean_absolute_error(y_test,y_pred)
corr_pred

In [ ]:
joblib.dump(best_regressor,"GradientTree")

# Decision Tree

In [ ]:
td2 = td.filter(['category', 'tweets', 'following', 'followers', 'likes'], axis = 1)
y = td2['category']
x = td2.drop(['category'], axis=1)
y = y.astype('int')x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 101, stratify = y, test_size = 0.3)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 101, stratify = y, test_size = 0.3)

In [ ]:
y_train.value_counts(normalize = True)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dt_model = DecisionTreeClassifier(random_state = 10)
dt_model.fit(x_train, y_train)

In [ ]:
dt_model.score(x_test, y_test)

In [ ]:
train_acc = []
test_acc = []
# changing max depth 
for depth in range(1,10):
  dt_model = DecisionTreeClassifier(max_depth = depth, random_state = 10)
  dt_model.fit(x_train, y_train)
  train_acc.append(dt_model.score(x_train, y_train))
  test_acc.append(dt_model.score(x_test, y_test))

In [ ]:
df = pd.DataFrame({'max_depth': range(1,10), 'train_acc': train_acc, 'test_acc': test_acc})
dt_model = DecisionTreeClassifier(max_depth = 15, max_leaf_nodes = 25, random_state = 4)
dt_model.fit(x_train, y_train)
dt_model.score(x_train, y_train)

# GUI

In [ ]:
from tkinter import *
root=Tk()
root.geometry('400x300')
root['bg'] = '#000000'
username=StringVar()
L=Label(root,text="Bot Slayers", height=3, background="#000000",foreground="white", font=(60))
L.place(relx=0.5,rely=0.05, anchor=CENTER)
L1=Label(root,text="Please enter username : ", height=2, width=30)
L1.place(relx=0.5,rely=0.2, anchor=CENTER)
e=Entry(textvariable=username)
e.insert(0, 'Username')
e.place(relx=0.5,rely=0.35, anchor=CENTER, height=20)
def click():
    print("Username : ",username.get())
    
    #Generating a random QR Code based on bill amount 
    root1=Tk()
    root1.geometry('400x300')
    root1['bg'] = '#000000'
    data1=StringVar()
    L11=Label(root1,text="Please enter username : ", height=2, width=30)
    L11.place(relx=0.5,rely=0.6,anchor=CENTER)
    

    
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token,access_token_secret)
    api = tweepy.API(auth)

    client = tweepy.Client(bearer_token=b_token)

    res = client.get_users(usernames = username.get())
    id = res[0][0].id

    followers = client.get_users_followers(id=id, max_results = 1000)
    count1 = 0
    for follower in followers[0]:
        count1 = count1 +1

    print("Followers : ",count1)

    following = client.get_users_following(id=id, max_results = 1000)
    count2 = 0
    for follow in following[0]:
        count2 = count2 + 1

    print("Following : ",count2)

    tweets = client.get_users_tweets(id=id, max_results = 100)
    count3 = 0
    for tweet in tweets[0]:
        count3 = count3 +1
    print("Tweets : ",count3)
    
    root1.mainloop()
            
e.bind("<Return>", click)
B1=Button(root,text="Enter",command=click,bg="black",fg="white", height=2, width=30, background="#000000",foreground="white")
B1.place(relx=0.5,rely=0.5, anchor=CENTER)
root.mainloop()

In [ ]:
dt_model.predict([[count3,count2,count1,12500]])